MONGO_IMAGE=mongo:4.2.2-bionic


MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=user


MONGO_HOST_KEYFILE=./resources/mongo-keyfile
MONGO_CONTAINER_KEYFILE=/opt/mongo/mongo-keyfile


CLUSTER_PREFIX="mongo_docker_cluster"


MONGO_HOST_PORT=27017

ROUTER_PORT=27017
CONFIG_PORT=27017
RS0SHARD_PORT=27017
RS1SHARD_PORT=27017

CLUSTER_WAITING_TIME=25
ROUTER_WAITING_TIME=60


ROUTER_CPUS=1
CONFIG_CPUS=0.5
SHARD_CPUS=0.5

ROUTER_MEM_LIMIT=500m
CONFIG_MEM_LIMIT=500m
SHARD_MEM_LIMIT=800m


CONFIG_COUNT=3
RS0SHARD_COUNT=3
RS1SHARD_COUNT=3
